<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body ng-app="myApp" ng-controller="mainCtrl">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <input type="text" placeholder="Title:" class="form-control" ng-model="">
                <br>
                <input type="text" placeholder="Year:" class="form-control" ng-model="">
                <br>
                <select class="form-control">
                    <option>Short</option>
                    <option>Full</option>
                </select>
                <br>
                <button type="button" class="btn  btn-info" ng-click="search()">Search</button>
                <button type="reset" class="btn  btn-danger">Reset</button>



            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>

</body>

</html>