<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-app="picApp" ng-controller="ctrl">
    <div class="container-fluid">
        <div class="head-logo">
            <h1>SOeUReTTe</h1>
            <p>Hates cute cats</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <label>{{likesA}}</label>
                <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" class="img-responsive" />
                <div class="button-area">
                    <button class="btn btn-info" ng-click="likeCatA()">Like</button>
                </div>
            </div>
            <div class="col-xs-6 col-lg-6">
                <label>{{likesB}}</label>
                <img src="https://i.ytimg.com/vi/cNycdfFEgBc/maxresdefault.jpg" / class="img-responsive">
                <div class="button-area">
                    <button class="btn btn-info" ng-click="likeCatB()">Like</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.angularjs.org/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>