<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body ng-app="myApp">
  
<br>
    <div class="container-fluid" ng-controller="myController">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="text" placeholder="put your text:" class="form-control" ng-model="inputValue">{{inputValue}}
<br>
                <button type="button" class="btn  btn-info" ng-click="load()">translate</button>
                <p>{{content}}</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="yodaSpeak.js"></script>

</body>

</html>