body{
    background-color: antiquewhite;
    margin: 50px;
    border: 2px;
    border-style:solid;
    border-color: chocolate;
}
p{
    vertical-align: top;
    font-family: monospace;
    color: brown;
    font-size: 24px;
    display: inline-block;
    width: 31%;
    padding: 10px;
}
h1{
    text-align: center;
    font-family: fantasy;
    background-color:darkgrey;
    color:darkslateblue;
}

img{
    float: left;
    width: 30%;
    border-style: solid;
    border: 3px;
    border-color:black;
}

#bg-box{
    background-color: floralwhite;
}