<div ng-init="getData()">
<div ng-repeat="item in todoItems track by $index">
 <div ng-if="!item.isEdit">
 <p>{{item.name}}</p> 
 <p>{{item.cost | currency}}</p>
 <button ng-click="toggleEdit($index)">Edit</button>  
 <button ng-click="remove(item._id)">X</button>   
 </div> 
 <div ng-if="item.isEdit">
  <input ng-model="item.name" class="form-control">  
  <input ng-model="item.cost" class="form-control">
  <button ng-click="save(item._id, item)"> Save </button>  
 </div> 
 
  
</div>  
<div>
  <input ng-model="userInput.name" class="form-control">  
  <input ng-model="userInput.cost" class="form-control">
  <button ng-click="addItem()"> ADD </button>  
 </div>   
</div>