.output{
    width: 100%;
    background-color:dimgray;
    color: yellow;
    font-size: 25px;
    padding: 20px;
    border: solid 4px black;
}



.box{
    border: 2px solid black;
    padding: 10px 40px; 
    background-color:antiquewhite;
    border-radius: 10px;

}

.box2{
    border: 2px solid black;
    padding: 10px 40px; 
    background-color:darkkhaki;
    border-radius: 10px;

}


input[type=text] {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;

}



input[type=number] {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;

}


input[type=date] {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;

}


.textarea {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;

}

h1{
    color: firebrick;
}