<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
</head>

<body ng-app="app">
    <div ng-controller="addCtrl">
        <input ng-model="num1" type="number">
        <input ng-model="num2" type="number">
        <button ng-click="addNums()">Add</button>
        <p>Total: {{total}}</p>
    </div>
    <div ng-controller="multiCtrl">
        <input ng-model="num1" type="number">
        <input ng-model="num2" type="number">
        <button ng-click="multiNums()">Multi</button>
        <p>Total: {{total}}</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="angularSetup.js"></script>

</body>

</html>