<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body ng-app="myApp" ng-controller="myController" ng-init="loadData()">
    <h1 align="center">Angular Todo Website<br> (Talking to the Server)</h1>
    <div ng-repeat="todoItem in todoItems">
        <p>{{todoItem.title}}</p>
        <button ng-click="deletItem(todoItem, _id)">Delete</button>
    </div>
    <br>
    <input ng-model="task">
    <button ng-click="add(task)">Add</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="todoList.js"></script>

</body>

</html>